<p>

</p>
<div class="container">
  <h4>Here is a list of all the tracks, hit Vote it Up! to vote for a track you like.</h4>
  <h4>Songs</h4>
    <table>
      <thead>
              <th data-field="song_title">Song</th>
              <th data-field="votes">Votes</th>
              <th data-field="price"></th>
      </thead>
      <tbody>
        <% @tracks.each do |track| %>
          <form action="/vote_up_track" method="post">
            <input type="hidden" name="track_id" value="<%= track.id %>">
            <tr>
              <td>
                <a href="tracks/<%=track.id%>"><%= track.song_title %> by: <%= track.author %></a>
              </td>
              <td>
                <%=Upvote.count_by_sql("Select count(*) from upvotes where track_id = #{track.id}")%>
              </td>
              <td>
                <button class="btn waves-effect waves-light blue darken-1 right" type="submit" name="action">Vote it Up!
                 </button>
              </td>
            </tr>
          </form>
        <% end %>
      </tbody>
    </table>
<a href="/tracks/new">Post a track...</a>
</div>
